.top-header{
    padding: 20px 30px;
    background-color: white;
    border-bottom: 1px solid #8080802e;
    border-top: 1px solid #8080802e;
}
.search-box {
    border: 1px solid #504a4a4a;
    background-color: white;
    padding: 8px 10px;
    border-radius: 4px;
    display: inline-flex;
    width: 80%;
}
.search-icon{
   
    background-color: gray;
    height: 16px;
    width: 16px;
    position: relative;
    top: 3px;
}
#serch-btn{
    border: unset;
    width: 100%;
    outline: none;
    padding-left: 10px;
}
.bottom-box{
    background-color: white;
    padding: 20px 30px;
}
.select-value{
    width: 82%;
    outline: none;
    padding: 8px;
    border: 1px solid #504a4a4a;
    border-radius: 4px;
}
.top-btn{
    display: flex;
    width: 100%;

}
.txt-application{
    width: 71%;
    margin-left: 44px;
}
.create-btn{
    padding: 18px;
}
.c-btn{
    width: 143%;
    padding: 7px;
    background-color: black;
    color: white;
    border: 2px solid;
    border-radius: 5px;
}

