/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.login-box{
  width: 40%;
  margin: auto;
  margin-top: 75px;
  box-shadow: 0 10px 20px -2px rgb(0 0 0 / 14%);
  background-color: #ffffff;
  padding: 45px;
}
.login-txt{
 
    font-size: 25px;
    margin-bottom: 35px;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
}
.email{
  border: 0;
  margin: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
}
#email{
  width: 96%;
  display: inline-flex;
    padding: 7px;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}
#password{
  width: 96%;
  display: inline-flex;
    padding: 7px;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}
.login-btn{
  width: 50%;
  margin: auto;
  margin-top: 36px;
}
.submit{
  background-image: linear-gradient(#2799f2, #0c77e3);
  color: white;
  font-size: 18px;
  padding: 0px 65px;
  cursor: pointer;
  height: 35px;
  width: 100%;
  font-family: inherit;
  font-weight: 500;
}
.pass-div{
  margin-top: 16px;
}
.c-div{
  width: 100%;
    margin-top: 85px;
}
.c2-div{
  width: 35%;
  margin: auto;
  padding: 25px;
  border: 1px solid grey;
}
 
